.header__title {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  max-width: 730px;
  width: 100%;
  z-index: 10;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}
